body{
	font-family: 'Lobster', cursive;
}
footer{
	margin: 50px 0px;
}
/*Estilos navbar*/
.logo{
	width: 25px;
	height: 25px;
}
.fondo{
	background: #51514E;
}
/*Estilos carrusel*/
header.carousel{
	height: 100%;
}
header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner{
	height: 100%;
}
header.carousel .fill{
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}
.quitaEspacio{
	margin-bottom: 0px;
}
/*Estilos de los paneles*/
.panel-success, .panel-danger{
	padding-left: 0px;
	padding-right: 0px;
}
.panelImgBio{
	border: 0px;
}
.container{
	margin-top: 20px;
}
/*Clase img-responsive
 ya esta en bootstrap*/
.padContacto{
	padding-left: 0px
}